# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/

# Environment variables
.env
.streamlit/secrets.toml

# VSCode settings
.vscode/

# Streamlit cache
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db
